<div class="container h-100">
    <div class="card-deck my-auto low">
        <div class="card">
            <img class="card-img-top" src="../../../assets/img/1.png" alt="Card image">
            <div class="card-body text-center">
                <button class="btn btn-success" (click)="goToPage('/patients/register-patient')">Registrar
                    paciente</button>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/img/2.png" alt="Card image">
            <div class="card-body text-center">
                <button class="btn btn-success" (click)="goToPage('/vaccines/register-vaccine')">Registrar
                    Vacuna</button>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/img/3.png" alt="Card image">
            <div class="card-body text-center">
                <button class="btn btn-info" (click)="goToPage('/patients/patient-list')">Lista de pacientes</button>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/img/4.png" alt="Card image">
            <div class="card-body text-center">
                <button class="btn btn-info" (click)="goToPage('/vaccines/vaccine-list')">Lista de vacunas</button>
            </div>
        </div>
    </div>
</div>