<div class="container h-100 low">
    <div class="table-responsive">
        <h3 class="text-center">Lista de Pacientes</h3>
        <div class="form-group row">
            <div class="col-xs-4 mx-auto text-center">
                <label for="searchId">Buscar por CI:</label>
                <input class="form-control col-xs-4" [(ngModel)]="searchId" type="text">
            </div>
        </div>
        <table class="table table-striped">
            <thead class="text-center">
                <tr>
                    <th>C.I.</th>
                    <th>Nombre Completo</th>
                    <th>Vacuna</th>
                    <th>Ver Paciente</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patient of patientList | filter:searchId" class="text-center">
                    <td>{{patient.id}}</td>
                    <td>{{patient.fullName}}</td>
                    <td>{{patient.vaccine}}</td>
                    <td><button class="btn btn-info" (click)="viewPatient(patient.id)">Ver</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-modal #modal [modalConfig]="modalConfig">
    <ul *ngIf="selectedPatient" class="list-group">
        <li class="list-group-item">Nombre Completo: {{selectedPatient.fullName}}</li>
        <li class="list-group-item">Edad: {{selectedPatient.age}}</li>
        <li class="list-group-item">Vacuna: {{selectedPatient.vaccine}}</li>
        <li class="list-group-item">Primera Dosis:
            <div *ngIf="selectedPatient.firstDose === false">
                <button class="btn btn-success" (click)="registerDose(selectedPatient, 1)">Registrar
                    Primera Dosis</button>
            </div>
            <span *ngIf="selectedPatient.firstDose === true">{{selectedPatient.firstDoseDate | date}}</span>
        </li>
        <li *ngIf="secondDoseDate" class="list-group-item lead text-info">
            Fecha para la segunda dosis: <strong>{{secondDoseDate | date}}</strong>
        </li>
        <li class="list-group-item">Segunda Dosis:
            <div *ngIf="selectedPatient.secondDose === false">
                <button class="btn btn-success" (click)="registerDose(selectedPatient, 2)">Registrar
                    Segunda Dosis</button>
            </div>
            <span *ngIf="selectedPatient.secondDose === true">{{selectedPatient.firstDoseDate | date}}</span>
        </li>
    </ul>
</app-modal>